@model IEnumerable<ASM_Nhom2_View.Data.Product>
@{
    ViewData["Title"] = "Home";
}

<div class="container my-5">
    <div class="home-title text-white my-4">
        <h3>Sản Phẩm Nổi bật</h3>
    </div>
    <div id="featuredProductsCarousel" class="carousel slide position-relative" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="row">
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="row">
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                                </div>
                                <div class="contentBox">
                                    <h3>Đồng hồ 1</h3>
                                    <h2 class="price">5.585.000 ₫</h2>
                                    <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </a>
                    </div>

                      @*   @foreach (var item in Model)
                          {
                        <div class="col-xl-7">
                            <a class="card-link" asp-controller="HomeUser" asp-action="Index">
                                <div class="card border-0 hover-list-popular">
                                    <div class="position-relative">
                                        <img src="@Url.Content("~/images/" + item.ProductImages)" class="img-fluid" alt="Not Image">
                                    </div>
                                    <div class="card-body">
                                        <p class="fs-24 card-title fw-medium">
                                            @item.ProductName
                                        </p>
                                        <div class="row card-text fs-12 color-9A9AB0">
                                            <div class="col-xl-12">@item.ProductPrice.ToString("C")</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        } *@

                    

                </div>
            </div>
        </div>
        <div class="btnList">
            <button class="carousel-control-prev position-absolute" type="button" data-bs-target="#featuredProductsCarousel" data-bs-slide="prev" style="left:-120px!important;height:fit-content;top:220px!important">
                <span aria-hidden="true"><i class="fa-solid fa-arrow-left-long" style="font-size:24px; color:darkgray;"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-absolute" type="button" data-bs-target="#featuredProductsCarousel" data-bs-slide="next" style="right: -120px !important;height:fit-content; top: 220px !important">
                <span aria-hidden="true"><i class="fa-solid fa-arrow-right-long" style="font-size: 24px; color: darkgray;"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div style="background-color: #393939">
    <div class="container my-5">
        <div class="home-title text-white my-4">
            <h3>Sản Phẩm Khác</h3>
        </div>
        <div class="row">
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 my-4">
                <a class="card-link" asp-controller="ProductDetail" asp-action="Index">
                    <div class="card">
                        <div class="imgBox">
                            <img src="~/images/Product/1004.png" alt="watch corsair" class="watch">
                        </div>
                        <div class="contentBox">
                            <h3>Đồng hồ 1</h3>
                            <h2 class="price">5.585.000 ₫</h2>
                            <a href="#" class="buy bg-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
