@model IEnumerable<ASM_Nhom2_View.Models.RoleVM>

@{
    ViewData["Title"] = "Danh Sách Vai Trò";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    table thead th {
        vertical-align: middle !important;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Vai Trò</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Xem Vai Trò</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bảng Vai Trò</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Id</th>
                                    <th>Tên Vai Trò</th>
                                </tr>
                            </thead>
                            <tbody >
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center align-middle">
                                        <td>@item.RoleId</td>
                                        <td>@item.RoleName</td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                                            @*<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
